* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}
body {
    background-color: rgb(204, 198, 189);
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 800px;
    border: 3px solid rgb(121, 108, 108);
    border-radius: 7px;
    padding: 20px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.253);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.questions-container {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    gap: 20px;
}
.question {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.answers-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
}
.next-question {
    margin-top: 16px;
}
.button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: rgb(2, 21, 194);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.button:not(:disabled):hover {
    background-color: rgb(0, 0, 139);
}
.hide {
    display: none;
}
.correct {
    background-color: #15d81b;
}
.wrong {
    background-color: #f32314; 
}
.answers:disabled{
    cursor: not-allowed;
}
.final-mesage {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}