* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bg-color: rgb(180, 178, 174);
    --bd-text-color: rgb(0, 0, 0);
    --ct-bg-color: rgb(255, 255, 255);
    --ct-border-color:rgb(121, 108, 108);
    --ct-shadow: rgba(0, 0, 0, 0.253);
    --bt-bg-color: rgb(2, 21, 194);
    --bt-bg-hover: rgb(0, 0, 139);
    --bt-text-color: rgb(255, 255, 255);
    --correct-color: rgb(21, 216, 27);
    --wrong-color: rgb(243, 35, 20); 
    --tx-border: rgb(0, 0, 255);
    --tx-inp-color: rgb(0, 0, 0);
}
button {
    cursor: pointer;
}
body {
    background-color: var(--bg-color);
    color: var(--bd-text-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner {
    background-color: var(--ct-bg-color);
    width: 90%;
    max-width: 800px;
    border: 3px solid var(--ct-border-color);
    border-radius: 7px;
    padding: 20px;
    box-shadow: 0 0 2px 2px var(--ct-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.questions-conteiner {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    gap: 20px;
}
.question {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.answers-conteiner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
}
.next-question {
    margin-top: 16px;
}
.button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: var(--bt-bg-color);
    color: var(--bt-text-color);
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.button:not(:disabled):hover {
    background-color: var(--bt-bg-hover);
}
.text-input {
    padding: 12px;
    border: 2px solid var(--tx-border);
    border-radius: 5px;
    color: var(--tx-inp-color);
    font-size: 1rem;
    outline: none;
}
.hide {
    display: none;
}
.correct {
    background-color: var(--correct-color);
}
.wrong {
    background-color: var(--wrong-color); 
}
.answers:disabled{
    cursor: not-allowed;
}
.final-mesage {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}